.dialog-container {
  display: flex;
  gap: 20px;
  height: 100%;
  flex-direction: column;
  text-align: center;

  h1 {
    font-size: 2em;
    margin: 0;
    padding-block-start: 0.1em;
    padding-block-end: 0.1em;
  }
}
