<header class="py-32 px-4 text-center" [ngClass]="isDarkTheme ? 'bg-dark text-light' : 'bg-light text-dark'">
  <h1 class="text-6xl m-4">Angular Boilerplate</h1>
  <p class="text-2xl">Landing page</p>
  <button
    (click)="register()"
    class="border-2 inline-block text-lg mt-4 py-3 px-6 text-center align-middle no-underline truncate select-none whitespace-nowrap"
    [ngClass]="isDarkTheme ? 'bg-dark border-light text-light' : 'bg-light border-dark text-dark'">
    Get Started
  </button>
</header>
